body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
    background: linear-gradient(135deg, #14141455 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #141414 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #14141455 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #141414 25%, #000000 25%) 0px 0/ 42px 42px;
}

#staff{
    text-decoration: underline;
}

#image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    gap: 30px;
    align-content: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.flip{
    perspective: 1000px;
}

#image-container img{
    width: 370px;
    height: 370px;
}

.flip{
    width: 370px;
    height: 370px;
    transform-style: preserve-3d;
}

.frontside, .backside{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;

}

.backside{
    transform: rotateY(180deg);
    background-color: black;
    font-size: 30px;
    line-height: 370px;
}

.backside a{
    text-decoration: none;
    color: white;
}

.backside a:nth-of-type(2){
    display: none;
}

.flip{
    transition: all 1s;
}

.flip:hover{
    transform: rotateY(180deg);
}

#image-container div{
    text-align: center;
}

h1{
    text-align: center;
}

h4{
    text-decoration: underline;
}

#gallery h1{
    line-height: 20px;
}



@media screen and (max-width: 460px) {
    #image-container img{
        width: 200px;
        height: 200px;
    }

    .flip{
        width: 200px;
        height: 200px;
    }

    .backside{
        font-size: 20px;
        line-height: 200px;
    }

    .backside a:nth-of-type(1){
        display: none;
    }


    .backside a:nth-of-type(2){
        display: block;
    }
}


/* TODO: poate de adaugat buton pentru facebook?*/
/*TODO: animatie*/