#about:first-line{
    text-decoration: underline;
}

body{
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Spectral SC', serif;
    font-size: 50px;
}

p{
    min-width: 445px;
    text-align: justify;
}

body article{
    padding-right: 17vw;
    padding-left: 17vw;
}

#local-ingredients section:nth-of-type(2n+1){
    margin-right: 30vw;
}

#local-ingredients section:nth-of-type(2n){
    margin-left: 30vw;
}

#beef > img{
    filter: contrast(50%);
    filter: brightness(55%);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#beef{
    height: 500px;
}

#buns > img{
    filter: contrast(50%);
    filter: brightness(55%);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#sauce > img{
    filter: contrast(50%);
    filter: brightness(55%);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#buns{
    height: 500px;
}

footer li{
    list-style-type: none;
}

@media screen and (max-width: 1425px) {
    h1{
        line-height: 50px;
        font-size: 40px;
    }
}

@media screen and (max-width: 1250px) {
   h1{
       font-size: 30px;
   }
}

@media screen and (max-width: 927px) {
    #local-ingredients section:nth-of-type(2n+1){
        margin-right: 0;
    }

    #local-ingredients section:nth-of-type(2n){
        margin-left: 0;
    }

}

@media screen and (max-width: 920px) {
    #beef{
        height: 500px;
    }
}

@media screen and (max-width: 590px) {
    body article{
        padding-right: 0vw;
        padding-left: 0vw;
    }

    h1{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
}